@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'poppinsFont';
  src: url('/src//assets/fonts/Poppins/Poppins-Thin.ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'poppinsFont';
  src: url('/src//assets/fonts/Poppins/Poppins-ThinItalic.ttf');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'poppinsFont';
  src: url('/src//assets/fonts/Poppins/Poppins-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'poppinsFont';
  src: url('/src//assets/fonts/Poppins/Poppins-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'poppinsFont';
  src: url('/src//assets/fonts/Poppins/Poppins-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'poppinsFont';
  src: url('/src//assets/fonts/Poppins/Poppins-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'poppinsFont';
  src: url('/src//assets/fonts/Poppins/Poppins-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'poppinsFont';
  src: url('/src//assets/fonts/Poppins/Poppins-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'poppinsFont';
  src: url('/src//assets/fonts/Poppins/Poppins-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'poppinsFont';
  src: url('/src//assets/fonts/Poppins/Poppins-SemiBoldItalic.ttf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'poppinsFont';
  src: url('/src//assets/fonts/Poppins/Poppins-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'poppinsFont';
  src: url('/src//assets/fonts/Poppins/Poppins-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'poppinsFont';
  src: url('/src//assets/fonts/Poppins/Poppins-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'poppinsFont';
  src: url('/src//assets/fonts/Poppins/Poppins-ExtraBoldItalic.ttf');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'poppinsFont';
  src: url('/src//assets/fonts/Poppins/Poppins-Black.ttf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'poppinsFont';
  src: url('/src//assets/fonts/Poppins/Poppins-BlackItalic.ttf');
  font-weight: 900;
  font-style: italic;
}

body {
  @apply font-poppins;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1976d2;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2196f3;
}
